canvas {
  margin: 3px auto;
  display: block;
  border: 1px solid black;
  display: inline-block;
  background: #000000;
  width: 100%;
  height: 55px;
  box-shadow: 0px 0px 10px blue;
}

input[type="button"]#vad-enable-btn {
  height: 60px;
  width: 100%;
  color: blue;
  font-size: 15px;
  float: left;
}

#status-panel {
  text-align: center;
  vertical-align: middle;
  display: table;
  height: 60px;
  width: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c67f7f;
  border-top: 1px solid #e2bfbf;
}

#status-panel i {
  margin-top: 10px;
}

.input-form {
  margin: left;
  width: 88%;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

#status-panel-waiting-icon {
  position: relative;
  top: -50px;
  left: 0px;
  color: 000;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

#status-indicator-div {
  display: block;
  background-color: #fff;
}

#config-form {
  margin-top: 30px;
}

#status-disconnected-indicator {
  height: 50px;
  width: 50px;
}

#status-connected-indicator {
  height: 50px;
  width: 50px;
}

#config-form {
  display: none;
}

/*******************************
* 左からの吹き出し
********************************/
.chat-form {
  width: 88%;
  height: 200px;
  overflow: auto;
}

.left_balloon {
    position: relative;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}

